* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 32px;
     font-family: 'Inter', Arial, sans-serif;
    
}

.subtitle {
    color: #666;
    margin-bottom: 30px;
}

.lessons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.lesson-card {
    background: linear-gradient(135deg, #40739f, #00f2fe);
    border-radius: 16px;
    padding: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.lesson-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}
